name: Upload Python Package

on:
    release:
        types: [published]

permissions:
    contents: read

jobs:
    release-build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Build package
              run: uv build

            - name: Upload distributions
              uses: actions/upload-artifact@v4
              with:
                  name: release-dists
                  path: dist/

    pypi-publish:
        runs-on: ubuntu-latest
        needs:
            - release-build
        permissions:
            id-token: write

        # Dedicated environments with protections for publishing are strongly recommended.
        # For more information, see: https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment#deployment-protection-rules
        environment:
            name: pypi
            url: https://pypi.org/project/domovoy/${{ github.event.release.name }}

        steps:
            - name: Retrieve release distributions
              uses: actions/download-artifact@v4
              with:
                  name: release-dists
                  path: dist/

            - name: Publish release distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  packages-dir: dist/
